
/* Forms style */

input {
  padding-top:.5em; 
  padding-bottom:.5em; 
}
/* I'm overidding bootstrap input-group */

.input-group {
	padding-top:.5em; 
  padding-bottom:.5em; 
}

/* Page Home */

.title-homepage{
  padding-top: 4em;
	text-align:center;
	display:inline;
	font-size: 8em;
}

.homepage-description {
  text-align:center;
	font-size: 18px;
	margin: 24px 30px 24px 30px;
}

.homepage-description-paragraph{
  display:inline-block;
}
a{
	text-decoration: none;
	color: #fff;
	font-size:2em;
}
form{
	float:left;
	margin-left: 20%;
	width:30em;
}

/* Page des data */

.data-page-container {
  padding-top: 6em; 

}

/* Page de demande de data */

.data-demand {
  padding-top:6em;
}

/* Hidden field in form */

.hidden-field {
  display:none;
}

